.AudioPlayer {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid green;
  height: 40px;
  align-items: center;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 25px;
}

.play-pause,
.volume {
  display: flex;
}

.AudioPlayer .play-icon,
.volume-icon,
.volume-range {
  cursor: pointer;
}

.play-pause-icon {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.play {
  background-image: url(../Pictures/play.png);
}

.pause {
  background-image: url(../Pictures/pause.png);
}
