.AudioPlayer {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid green;
  height: 40px;
  align-items: center;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 25px;
}

.play-pause,
.volume {
  display: flex;
}

.AudioPlayer .play-icon,
.volume-icon,
.volume-range {
  cursor: pointer;
}
